#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
	chmod +x wazo-smtp-mailjet
        mkdir -p ${pkgdir}/usr/local/bin
	cp wazo-smtp-mailjet ${pkgdir}/usr/local/bin/
        ;;

    install)
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
